.album {
  background-image: url("/assets/images/blurred_backgrounds/blur_bg_3_blue.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.player-bar {
  width: 100%;
  opacity: 0.55;
  justify-content: center;
  background-color: #000000;
  color: white;
  padding-top: 10px;
  display: flex;
  flex-flow: column wrap;
  align-self: flex-end;
}

td {
  line-height: 15px;
  padding: 10px;
}

.player-bar ion-icon {
  font-size: 30px;
  margin-left: 50px;
  padding: 10px;
}

.album-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  color: white;
}

.seek-bar {
  width: 80%;
  margin: 20px;
}

#volume-control {
  padding-bottom: 2em;
}

#album-cover-art {
  height: 20rem;
  width: auto;
  margin: 2em;
}

@media all and (max-width: 480px) {
  .album img {
    height: 14rem;
  }
}
